<?xml version="1.0" encoding="utf-8"?>
<!-- FILE: AndroidManifest.xml (STABILITY UPDATE) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".application.TireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTireInventory"
        tools:targetApi="31">

        <activity
            android:name=".activities.CustomerActivity"
            android:exported="false"
            android:label="Customers"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.AddCustomerActivity"
            android:exported="false"
            android:label="Add Customer"
            android:parentActivityName=".activities.CustomerActivity" />

        <activity
            android:name=".activities.CustomerDetailActivity"
            android:exported="false"
            android:label="Customer Details"
            android:parentActivityName=".activities.CustomerActivity" />

        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false"
            android:label="Record Payment"
            android:parentActivityName=".activities.CustomerDetailActivity" />

        <activity
            android:name=".activities.StockDetailActivity"
            android:exported="false"
            android:label="Stock Detail"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartTireInventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Changed to adjustPan for better keyboard stability on Realme/Oppo -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.AddCompanyActivity"
            android:exported="false"
            android:label="Add Company"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.AddStockActivity"
            android:exported="false"
            android:label="Add Stock"
            android:parentActivityName=".activities.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>